attrs==21.4.0
Automat==20.2.0
cffi==1.14.0
colorama==0.4.5
configparser==4.0.2
constantly==15.1.0
crayons==0.4.0
cryptography==3.3.2
enum34==1.1.10
future==0.18.2
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
ipaddress==1.0.23
mitm6==0.3.0
netifaces==0.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyftpdlib==1.5.6
pygame==2.0.3
PyHamcrest==1.10.1
python-xlib==0.31
requests==2.2.1
scapy==2.4.5
service-identity==21.1.0
six==1.16.0
termcolor==1.1.0
Twisted==22.4.0
typing==3.10.0.0
webdriver-manager==2.4.0
xlrd==1.2.0
zope.interface==5.4.0
